body{
    background-color: black;
}

:root{
  --red:gold;
  --green:rgb(236, 13, 87);
  --white:white;
}

*{
  font-family: 'Times New Roman';
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
  color: aliceblue;
  font-size: 4rem;
}

html{
    font-size:62.5%;
    text-align: center;
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
  }
section{
    padding:2rem 9%;
}
  
  
.btn{
    display: inline-block;
    margin-top: 1rem;
    background:var(--green);
    color:white;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    text-align: center;
    cursor: pointer;
}
  
.btn:hover{
    background:var(--red);
    color:black;
}
.category .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding-top: 1rem;
  }
  
  .category .box-container .box{
    border:.1rem solid rgba(250, 248, 248, 0.897);
    border-radius: .5rem;
    text-align: center;
    padding:2rem;
    flex:1 1 25rem;
  }
  
  .category .box-container .box img{
    width: 20rem;
    margin:.5rem 0;
  }
  
  .category .box-container .box h3{
    font-size: 3.5rem;
    color:var(--white);
  }
  
  .category .box-container .box p{
    font-size: 2rem;
    color:var(--green);
    padding:.5rem 0;
  }
  
  .category .box-container .box .btn{
    display: block;
  }
